div{
 background-color: rgb(246, 248, 250);
 border-radius: 25px;
 box-shadow: 0px 0px 10px 10px black;
padding: 150px 200px; 
    border: 2px solid;
}
body{
    background-color: rgb(230, 227, 227);
}
button{
    background-color: aqua;
    border-radius: 15px;
}
img{
    padding-left: 600px;
        width: 250px;
        height: 250px;
}
h1{
    padding-left: 555px;
}
button{
   margin-left: 675px;
}